.home-page {
    position: relative;
    max-width: 60%;
    height:100vh;
    margin: auto;
    padding: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: whitesmoke;
}

.top-banner {
    position: absolute;
    border-bottom: 1px solid black;
    height: 8%;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
}

.banner {
    height: 200%;
    width: 100%;
    border-bottom: 2px solid black;
}

.loggedInMessage {
    position: relative;
    top: 20%;
    border: 1px solid black;
    border-radius: .3em;
    height: 8%;
    text-align: center;
    line-height: 300%;
    background: linear-gradient(217deg, rgba(119, 136, 153,.8), rgba(119, 136, 153,0) 70.71%)

}

.loggedOutMessage1 {
    position: relative;
    border-radius: .3em;
    top: 18%;
    height: 8%;
    border: 1px solid black;
    text-align: center;
    font-size: 150%;
    line-height: 250%;
}

.loggedOutMessage2 {
    position: relative;
    text-align: center;
    font-size: 100%;
    line-height: 1850%;
    height: 8%;
}

.forPositioning {
    position: relative;
    text-align: center;
    font-size: 100%;
    line-height: 1850%;
    height: 8%;
}

.signupRedirect {
    text-decoration: none;
    color: lightsteelblue;
    font-size: 120%;
}

.signupRedirect:hover {
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

#h1-thing{
    text-align: center;
    border-bottom: 4px solid black;
    border-radius: 30em;
    position: relative;
    top: 15%;
    background: linear-gradient(217deg, rgba(119, 136, 153,.8), rgba(119, 136, 153,0) 70.71%)

}

#shuffle {
    position: relative;
    top: 15%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}

#shuffle:hover {
    background-color: orange;
    cursor: pointer;
    animation: blink 0.5s ease-out alternate infinite;
    transition-duration: 500ms;
}

.random-songs {
    top: 15%;
    position: relative;
    border: 1px dotted black;
    overflow-y: auto;
    overflow-x: hidden;
    height: 30em;
    border-radius: .7em;
    background: linear-gradient(217deg, rgba(119, 136, 153,.8), rgba(119, 136, 153,0) 70.71%)
}

.home-songlist {
    top: 15%;
    border: 1px solid black;
    border-radius: .9em;
    padding: .5em;
    width: 80%;
    background: rgba(120, 137, 155, .4);
}

.home-songlist:hover {
    cursor: pointer;
    background: rgba(255, 166, 0, .2);
}

.home-songlist:focus {
    cursor: pointer;
    background: rgba(255, 166, 0, .2);
}

.gitHubInfo {
    width: 100%;
    text-align: center;
    transform: translateY(410%);
}

.randomBreed {
    color: rgba(255, 166, 0, 1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.gitHubLink {
    width: 50px;
}

.gitHubImage {
    width: 70px;
}
