body {
    overflow-y: hidden;
}

.user-profile {
     position: relative;
     max-width: 60%;
     height:100vh;
     margin: auto;
     padding: 30px;
     border-left: 1px solid black;
     border-right: 1px solid black;
     background: whitesmoke;
 }

 .userPic {
    object-fit:cover;
    width: 30%;
    border: 1px solid black
 }

 .userUsername {
    font-size: 200%;
 }

 #song-playlist-div {
     border: 1px solid black;
     height: 20em;
     width: 100%;
     overflow-y: auto;
     background: linear-gradient(217deg, rgba(119, 136, 153,.8), rgba(119, 136, 153,0) 70.71%)
 }

#tracks {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}

#tracks:hover {
    background-color: orange;
    cursor: pointer;
    animation: blink 0.5s ease-out alternate infinite;
    transition-duration: 500ms;
}

.user-songlist {
    border: 1px solid black;
    border-radius: .9em;
    padding: .5em;
    background: rgba(120, 137, 155, .4);
}

.user-songlist:hover {
   cursor:pointer;
   background: rgba(255, 166, 0, .2);
}

.user-songlist:focus {
    background: rgba(255, 166, 0, .2);
}

.user-playlist {
    border: 1px solid black;
    border-radius: .9em;
    padding: .5em;
    background: rgba(120, 137, 155, .4);
}

.user-playlist:hover {
    cursor:pointer;
    background: rgba(255, 166, 0, .2);
}

.user-playlist:focus {
    background: rgba(255, 166, 0, .2);
}

.comments {
    border-bottom: 1px solid black;
    border-radius: 30em;
    width: 50%;
    text-decoration: none;
    background: rgba(120, 137, 155, .2);
}

#playlists{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border:1px solid black;
}

#playlists:hover {
    background-color: orange;
    cursor: pointer;
    animation: blink 0.5s ease-out alternate infinite;
    transition-duration: 500ms;
}

.commentBox {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}

#comment-div {
    padding-top: 5%;
}

.commentingUser{
    text-decoration: none;
}

.commentingUser:hover{
    cursor: pointer;
    color: orange;
}

.commentedText{
   color:gray;
   font-style: italic;
}

.comments-box{
    border:1px solid black;
    width: 100%;
    overflow-y: auto;
    height: 15em;
    background: linear-gradient(217deg, rgba(119, 136, 153,.8), rgba(119, 136, 153,0) 70.71%)
}

.uploadTrack {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}

.uploadTrack:hover {
    cursor:pointer;
    background:orange
}

.deleteTrack {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}

.deleteTrack:hover {
    cursor:pointer;
    background:orange
}

.createPlaylist {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}

.createPlaylist:hover {
    cursor:pointer;
    background:orange
}

.deletePlaylist {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}

.deletePlaylist:hover {
    cursor:pointer;
    background:orange
}

.createComment {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}


.createComment:hover {
    cursor:pointer;
    background:orange;
}

.deleteComment {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: auto;
    border: 1px solid black;
}


.deleteComment:hover {
    cursor:pointer;
    background:orange;
}
