/* TODO Add site wide styles */

body {
    background-color: lightGrey;
    margin: 0;

}

footer {
    position:fixed;
    bottom:0px;
    display: flex;
    width: 100%;
}

footer div {
    display: flex;
}
