#users-div {
    position: relative;
    max-width: 60%;
    height:100vh;
    margin: auto;
    padding: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: whitesmoke;
}

.userBox {
    padding-bottom: 1em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 4em;
    box-shadow: 5em;
    background: linear-gradient(217deg, rgba(119, 136, 153,.8), rgba(119, 136, 153,0) 70.71%)
}

.list {
    overflow-y: auto;
    height: 87%;
}
